In [1]:
import os
import pandas as pd
import datetime
import numpy as np

In [2]:
DATASET_PATH = os.path.join(".", "training_data_cleaned.csv")
data = pd.read_csv(DATASET_PATH)
data.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
0,0,2021-01-20,3,2021,30222,U0117613,Owner Operator,Rosas Transport,Santa Fe Springs,CA,...,4,1,253,254,0,3,3,257,2021-01-20,2021-02-17
1,1,2020-03-09,1,2020,4524,C0090405,Fleet,Daylight Transport,Long Beach,CA,...,6,0,0,0,2671,0,2671,2671,2020-03-09,2021-02-15
2,2,2020-02-14,5,2020,31164,C0097099,Fleet,First Class Transport #8,Hawthorne,CA,...,1,29,82,111,30,19,49,160,2020-02-14,2020-12-18
3,3,2019-06-10,1,2019,8859,U0097935,Owner Operator,DTELLIS TRUCKING,Long Beach,CA,...,1,25,6,31,0,1,1,32,2019-06-10,2020-02-16
4,4,2019-12-03,2,2019,18870,U0106560,Owner Operator,Z&N Transport,Los Angeles,CA,...,4,1,233,234,0,9,9,243,2019-12-03,2020-02-18

In [3]:
data['id_driver'].value_counts()

4524     625
10740    507
5608     430
3851     418
4516     407
        ...
11252      1
11546      1
17687      1
9611       1
14759      1
Name: id_driver, Length: 5288, dtype: int64

In [5]:
data = data.groupby('id_driver').apply(lambda x: x[x['dt'] == x['dt'].max()])

In [6]:
data

,,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
id_driver,,,,,,,,,,,,,,,,,,,,,,
20,12922,12922,2016-06-20,1,2016,20,U0000035,Owner Operator,Mega Fleet Corp,Pasadena,CA,...,1,0,0,0,42,0,42,42,2016-06-20,2016-06-20
26,17520,17520,2015-10-29,4,2015,26,U0000041,Owner Operator,NaN,"Sierra Madre,",CA,...,1,0,0,0,1,0,1,1,2015-10-29,2015-10-29
27,30284,30284,2015-12-09,3,2015,27,U0000042,Owner Operator,NaN,"Sierra Madre,",CA,...,1,0,0,0,11,0,11,11,2015-12-09,2015-12-09
30,61261,61261,2018-12-05,3,2018,30,U0000045,Owner Operator,A & J Transport,Riverside,CA,...,1,0,0,0,4,0,4,4,2018-12-05,2018-12-05
31,25636,25636,2016-04-01,5,2016,31,U0000046,Owner Operator,lv transportation llc,NaN,NaN,...,1,0,0,0,15,0,15,15,2016-04-01,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37977,29090,29090,2021-02-11,4,2021,37977,C0098303,Fleet,"DOLPHIN TRANS, INC. DBA DOLPHIN EXPRESS",Norwalk,CA,...,2,0,0,0,0,2,2,2,2021-02-11,2021-02-11
38039,79531,79531,2021-02-16,2,2021,38039,C0096844,Fleet,JT Transportation Inc,Los Angeles,CA,...,1,1,0,1,0,0,0,1,2021-02-16,2021-02-16
38060,43481,43481,2021-02-13,6,2021,38060,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,...,1,0,0,0,0,0,0,3,2021-02-13,2021-02-13
38065,73683,73683,2021-02-17,3,2021,38065,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,...,2,0,0,0,0,0,0,7,2021-02-17,2021-02-17
38096,50073,50073,2021-02-12,5,2021,38096,C0097727,Fleet,New opportunities inc,Los Angeles,CA,...,1,0,1,1,0,0,0,1,2021-02-12,2021-02-12

In [7]:
data[data['id_driver']==4524]

,,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
id_driver,,,,,,,,,,,,,,,,,,,,,,
4524,75432,75432,2021-02-15,1,2021,4524,C0090405,Fleet,Daylight Transport,Long Beach,CA,...,1,0,0,0,2671,0,2671,2671,2021-02-15,2021-02-15

In [8]:
data['total_loads'].quantile(0.75)

17.0

In [10]:
data[data['total_loads'] < 17]

,,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
id_driver,,,,,,,,,,,,,,,,,,,,,,
26,17520,17520,2015-10-29,4,2015,26,U0000041,Owner Operator,NaN,"Sierra Madre,",CA,...,1,0,0,0,1,0,1,1,2015-10-29,2015-10-29
27,30284,30284,2015-12-09,3,2015,27,U0000042,Owner Operator,NaN,"Sierra Madre,",CA,...,1,0,0,0,11,0,11,11,2015-12-09,2015-12-09
30,61261,61261,2018-12-05,3,2018,30,U0000045,Owner Operator,A & J Transport,Riverside,CA,...,1,0,0,0,4,0,4,4,2018-12-05,2018-12-05
31,25636,25636,2016-04-01,5,2016,31,U0000046,Owner Operator,lv transportation llc,NaN,NaN,...,1,0,0,0,15,0,15,15,2016-04-01,2016-04-01
44,62787,62787,2016-04-28,4,2016,44,U0000062,Owner Operator,ITS Logistics,Chicago,IL,...,1,0,0,0,7,0,7,7,2016-04-28,2016-04-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37977,29090,29090,2021-02-11,4,2021,37977,C0098303,Fleet,"DOLPHIN TRANS, INC. DBA DOLPHIN EXPRESS",Norwalk,CA,...,2,0,0,0,0,2,2,2,2021-02-11,2021-02-11
38039,79531,79531,2021-02-16,2,2021,38039,C0096844,Fleet,JT Transportation Inc,Los Angeles,CA,...,1,1,0,1,0,0,0,1,2021-02-16,2021-02-16
38060,43481,43481,2021-02-13,6,2021,38060,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,...,1,0,0,0,0,0,0,3,2021-02-13,2021-02-13
38065,73683,73683,2021-02-17,3,2021,38065,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,...,2,0,0,0,0,0,0,7,2021-02-17,2021-02-17
38096,50073,50073,2021-02-12,5,2021,38096,C0097727,Fleet,New opportunities inc,Los Angeles,CA,...,1,0,1,1,0,0,0,1,2021-02-12,2021-02-12